body {
  font-family: Georgia;
  font-size: 16px;
  margin: 0 auto; /* center content */
  max-width: 800px; /* limit width */
  line-height: 1.5;
  padding-top: 32px;
  padding-bottom: 32px;
}
.important {
  color: green;
  font-weight: bold;
  font-style: italic;
}
h1 {
  background-color: rgb(129, 231, 226);
}
p {
  font-size: 18px;
  font-style: italic;
}
#box {
  display: block;
  background-color: #d3d3d3;
  width: 700px;
  height: 150px;

  padding-left: 15px;
  padding-top: 10px;

  border-top: 8px solid #001f3f;
  border-bottom: 8px solid #001f3f;

  margin-left: 30px;
  margin-top: 15px;
}
